.navProd {
  margin-top: 40px;
  width: 100%;

  .container_navProd {
    .title_container {
      color: #473889;
    }

    .otherFood {
      margin-top: 5px;
      height: 60vh;
      overflow: auto;

      .food {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(248, 248, 248, 0.633);
        border-radius: 15px;
        cursor: pointer;
        height: 125px;
        scroll-behavior: smooth;
        transition: 0.9s ease-in-out;

        .img_food {
          width: 80px;
          height: 80px;
          border-radius: 100%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
          }
        }

        .description_food {
          //border: 1px solid red;

          .name_food {
            font-size: 20px;
            font-weight: bold;
            color: #473889;
          }
         

          .type_food {
            font-size: 15px;
            margin-left: 5px;
            color: rgba(0, 0, 0, 0.656);
            margin-top: 9px;
          }
        }
       
      }
      .food:hover {
        position: relative;
        background-color: #776fc3;
        transition: 0.5s ease-in-out;

        .name_food{
            color: white;
          }

          .type_food{
            color: white;

          }
      }
    }
    //---pour enlever le bare scroll-----
    .otherFood::-webkit-scrollbar {
      -webkit-appearance: none;
    }
  }
}
