.App{
 display: flex;
 justify-content: center;
 align-items: center;

 
  .container{
    background-color: rgba(186, 229, 238, 0.777);
    margin-top: 10px;
    margin-left: -25px;
   width: 95%;
   height: 95vh;
   border-radius: 55px;
   overflow: hidden;
  
   section{
   display: flex;
  

   }
  }
}